  <div class="container">

  <h2>フォロー一覧</h2>

    <% @user.followed_users.each do |user| %>
      <div class="container-child col-md-3 col-sm-4 col-xs-6 ">
        <br>
        <%= user.name %>
        <%= user.email %>
        <%= render 'follow_form', user: user %>

      </div>
      <% end %>

  <div class="container-child col-md-12 col-sm-12 col-xs-12" >
  <br>
  <h2>フォローワー一覧</h2>
  </div>
    <% @user.followers.each do |user| %>
        <div class="container-child col-md-3 col-sm-4 col-xs-6 ">
        <br>
        <%= user.name %>
        <%= profile_img(user) %>
        <%= user.email %>
                <%= render 'follow_form', user: user %>

        </div>
     <% end %>
  </div>